.LoginBox{
    background-color: rgb(143, 164, 197,0.7);
    padding: 20px;
    width: 50%;
    border: 2px solid rgb(161, 161, 202);
    box-shadow: 30px 30px 30px rgb(49, 49, 51);
}

.RegisterBox{
    background-color: rgb(143, 164, 197,0.7);
    padding: 20px;
    border: 2px solid rgb(161, 161, 202);
    box-shadow: 30px 30px 30px rgb(49, 49, 51);
}

.title{
    background-color: rgb(83, 83, 222);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

/* .LoginBox{
    background-color: white;
    width: 100%;
    padding: 20px;
    border: 1px;
    box-shadow: 30px 30px 30px black;
} */

.textfield{
    background-color: white;
    width: 100%;
}