img{
  width: 100%;
}

/* .homeImgGradient {position:relative;}
.homeImgGradient:after {
  width:100%;
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  background: radial-gradient(circle at center, rgb(244, 244, 234) 0%,rgba(255,255,255,0) 80%);
  height:100%;
} */


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
